body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #0f2027;
    color: white;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: rgba(0,0,0,0.6);
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
}

/* SECTION */
section {
    padding: 60px;
}

/* CARDS */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 15px;
    width: 200px;
    backdrop-filter: blur(10px);
}

/* GALLERY */
.gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.img-box {
    text-align: center;
}

.img-box img {
    width: 220px;
    border-radius: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: black;
}